* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: black;
    margin-bottom: 40px;
    padding-top: 50px;
    font-size: 80px;
}

.main {
    height: 100vh;
    background: gray;
    background-image: url("./img/back1.jpg");
    background-size: cover;
    text-align: center;
}

.pizzas {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

